@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  color: white;
}

@layer components {
  .topic-text {
    @apply text-5xl font-bold mb-8 md:mb-12;
  }

  .secondary-topic-text {
    @apply text-3xl font-semibold mb-4 md:mb-8;
  }

  .btn {
    @apply p-2 bg-green-400 rounded-xl px-4 font-bold cursor-pointer active:translate-y-2 transition-transform duration-100;
  }

  .liquid-glass {
    @apply relative px-4 py-1 rounded-3xl bg-white/20 backdrop-blur-[4px] text-shadow-lg border border-black/10;
  }
}
